body {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

body.index {
    background-image: url('../media/images/mountains.jpeg');
}

body.goals {
    background-image: url('../media/images/darts.jpeg');
}

body.sport {
    background-image: url('../media/images/gym-ring-boxing.jpeg');
}

body.thought {
    background-image: url('../media/images/road.jpeg');
}

header {
    box-sizing: border-box;
    width: 100%;
}

.blurred-back {
    backdrop-filter: blur(5px);
}