* {
    color: black;
}

body, html {
    height: 100%;
}

header {
    padding: 0.5%;
    margin: 0.5%;
    box-sizing: border-box;
    width: 100%;
}

footer {
    padding: 0.5%;
    margin: 0.5%;
    box-sizing: border-box;
    width: 100%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    padding: 0.5%;
}

body.index {
    background-image: url('../media/images/mountains.jpeg');
}

body.goals {
    background-image: url('../media/images/darts.jpeg');
}

body.sport {
    background-image: url('../media/images/gym-ring-boxing.jpeg');
}

body.thought {
    background-image: url('../media/images/road.jpeg');
}

footer {
    box-sizing: border-box;
    width: 100%;
}

.blurred-back {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.centered {
    width: 50%;
    margin: 0 auto;
}

.rounded-angles {
    border-radius: 5px;
}

nav {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}