.wisdom__wisdom-text {
    color: rgba(250, 250, 250, 0.8);
    text-shadow: 1px 1px black;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0.2rem;
    word-wrap: break-word;
    width: 100%;
}