@import url('./__wisdom-text/wisdom__wisdom-text.css');

.wisdom {
    padding: max(5%, 20px);
    width: max(50%, 400px);
    height: max(50%, 200px);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
}