@import url('./__item/goals__item.css');
@import url('./__item-descr/goals__item-descr.css');
@import url('./__item-text/goals__item-text.css');
@import url('./__item-text/goals__item-text_expanded.css');
@import url('./__title/goals__title.css');

.goals {
    padding: 5%;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow-y: scroll;
}