footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: red;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    footer {
        display: none;
    }
}