table.trainings__table {
    display: grid;
    min-width: 100%;
    border-spacing: 1px;

    grid-template-columns: 
        minmax(100px, 1fr)    /* date */
        minmax(100px, 1.67fr) /* activity */
        minmax(100px, 1.67fr) /* string result */
        minmax(100px, 1.67fr) /* measuring units */
    ;
}