@import url('./__item/menu__item.css');

.menu {
    width: fit-content;
    backdrop-filter: blur(20px);
    background-color: rgba(240, 240, 240, 0.6);
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin-left: 15px;
}