body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    padding: 0.5%;
    box-sizing: border-box;
}

body.index-page {
    background-image: url('../../resources/images/mountains.jpeg');
}

body.goals-page {
    background-image: url('../../resources/images/darts.jpeg');
}

body.sport-page {
    background-image: url('../../resources/images/gym-ring-boxing.jpeg');
}

body.thoughts-page {
    background-image: url('../../resources/images/desert.jpeg');
}