@import url('./__table/trainings__table.css');
@import url('./__tbody/trainings__tbody.css');
@import url('./__thead/trainings__thead.css');
@import url('./__trow/trainings__trow.css');

.trainings {
    padding: 5%;
    width: 75%;
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}